<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name ="viewport" content="width=device-width initial-scale=1"/>
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
    
</head>
<body>
    <header>
        <div class="flex-box">
            <div class="flex-box1">
                <img class="imagenM" width="200px" src="./img/logo.svg" alt="Logo">
             
                <form id="form" class="form" action="#">
                    <input type="text"
                        placeholder=" Buscar productos,marcas"
                        name="search">
                    <button>
                        <i class="fa fa-search"
                            style="font-size: 14px;">
                        </i>
                    </button>
                </form>
                
            </div>
            
            <h2 class="slog"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h2>

        </div>
       
        
        <nav>
        <ul class="nav-left">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-right">  
            <li><a href="/register">Crea tu cuenta</a><i class="fa-solid fa-users-rectangle"></i></li>
            <li><a href="/login"> Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#">Mis compras</a><i class="fa-sharp fa-solid fa-cart-arrow-down"></i></li>
        </ul>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>            
        </nav>
    </header>

  
        <img class="img-publi" src="./img/homebanner.jpg" alt="">




    <main>
        <h2 id="ultima-visita">Basado en tu ultima visita</h2>
        <br>
        <br>
        <section>

            <article>
                <img class="imagen" src="./img/Cafetera.jpg"> 
                <div class="desc-articulo">
               
                <div class="flex-box-p">
                    <p class="precio">$6700</p>
                    <p class="descuento">40% off</p>
                </div>
                <p class="descripciones">Cafetera Moulinex</p>
                
                </div>
                
            </article>
            <article>
                <img class="imagen" src="./img/mackbook.jpg">
                <div class="desc-articulo">
              
                <div class="flex-box-p">
                    <p class="precio">$230000</p>
                    <p class="descuento">20% off</p>
                </div>
                <p class="descripciones">Mcbook Pro 2019</p>
            </div>
            </article>
            <article>
                <img class="imagen" src="./img/img-samsung-galaxy-s10.jpg">
                
                <div class="desc-articulo">
                
                <div class="flex-box-p">
                <p class="precio">$70500</p>
                <p class="descuento">10% off</p>
                </div>
                <p class="descripciones">Samsung Galaxy S10</p>
            </div>
            </article>

            <article>
                <img class="imagen" src="./img/smarttv.jpg">
                <div class="desc-articulo">
                <div class="flex-box-p">
                    <p class="precio">$23200</p>
                    <p class="descuento">5% off</p>
                </div>
                <p class="descripciones">SmartTv Samsung 43''</p>
            </div>
            </article>
        </section>
        <br>
        <br>
        <h2>Ofertas</h2>
        <section>
         

            <article>
                <img class="imagen" src="./img/Cafetera.jpg">
                <div class="desc-articulo">             
                <div class="flex-box-p">
                    <p class="precio">$6770</p>
                    <p class="descuento">40% off</p>
                </div>
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
            </article>
            <article>
                <img class="imagen" src="./img/mackbook.jpg">
                <div class="desc-articulo">
             
                <div class="flex-box-p">
                    <p class="precio">$230000</p>
                    <p class="descuento">20% off</p>
                </div>
                <p class="descripciones">Mcbook Pro 2019</p>
            </div>
            </article>
            <article>
                <img class="imagen" src="./img/img-samsung-galaxy-s10.jpg">
                <div class="desc-articulo">
                
                <div class="flex-box-p">
                    <p class="precio">$70500</p>
                    <p class="descuento">10% off</p>
                </div>
                <p class="descripciones">Samsung Galaxy S10</p>
            </div>
            </article>

            <article>
                <img class="imagen" src="./img/smarttv.jpg">
                <div class="desc-articulo">
                    <div class="flex-box-p">
                        <p class="precio">$23200</p>
                        <p class="descuento">5% off</p>
                        <i class="fa-solid fa-truck comaionca"></i>
                    </div>
               

                <p class="descripciones">SmartTv Samsung 43'' </p>
                </div>
            </article>
            
        </section>
        <br>
        <br>
        <br>
    </main> 
    <footer>
        <section>
            <div>
                <i id="tarjeta" class="fa-solid fa-credit-card"></i>
                <h2>Pagá con tarjeta o en efectivo</h2>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>
            <br>
                <div>
                <i id="enviogratis" class="fa-solid fa-box-open"></i>
                <h2>Envío gratis desde $ 2.500</h2>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>
            <br>
            <div>
                <i id="seguridad" class="fa-solid fa-user-lock"></i>
                <h2>Seguridad, de principio a fin</h2>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
    
            </div>

        </section>
       
           
        
        <br>
        <ul>
            <li> Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
        </ul>
    </footer>
</body>
</html>