<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" 
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <meta name ="viewport" content="width=device-width initial-scale=1"/>
    <link rel="stylesheet" href="./css/register.css">

    <title>Register</title>
</head>
<body>


    <header>
        <div class="flex-box">
            <div class="flex-box1">
                <img class="imagenM" width="200px" src="./img/logo.svg" alt="Logo">
             
                <form id="formH" class="formH" action="#">
                    <input type="text"
                        placeholder=" Buscar productos,marcas"
                        name="search">
                    <button>
                        <i class="fa fa-search"
                            style="font-size: 14px;">
                        </i>
                    </button>
                </form>
                
            </div>
            
            <h2 class="slog"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin tarjeta de credito</h2>

        </div>
       
        
        <nav>
        <ul class="nav-left">
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul class="nav-right">  
            <li><a href="/register">Crea tu cuenta</a><i class="fa-solid fa-users-rectangle"></i></li>
            <li><a href="/login"> Ingresa</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#">Mis compras</a><i class="fa-sharp fa-solid fa-cart-arrow-down"></i></li>
        </ul>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>            
        </nav>
    </header>


<br>


    <main>
 
    <section class="registrodatos">
        <h1>Registrate</h1>
        <form class="formulario" action="/" method="post" enctype="multipart/form-data">
            <div>
                <label for="fecha"></label>
                <br>
                <input type="text" name="fecha" id="fecha" placeholder="Nombre y Apellido">
            </div>
            <div>
                <label for="usuario"></label>
                <br>
                <input type="text" name="usuario" id="usuario" placeholder="Nombre de Usuario">
            </div>
            <div>
                <label for="email"></label>
                <br>
                <input type="email" name="email" id="email" placeholder="E-mail">
            </div>
            
            <div>
                <label for="fecha">Fecha de Nacimiento</label>
                <br>
                <input type="date" name="fecha" id="fecha" >
            </div>
            
            <div>
                <label for="domicilio"></label>
               
                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">
            </div>
          
            <div>
                <label for="perfil">Que accion desea realizar</label>
                <br>
                <select name="intereses" id="intereses">
                    <option value="06">Comprar</option>
                    <option value="07">Vender</option>
                </select>  
            </div>
           
            <div>
                <label for="intereses">Categorias de interes</label>
                <br>
                <select name="intereses" id="intereses">
                    <option value="01">Electro</option>
                    <option value="02">Moda</option>
                    <option value="03">Hogar</option>
                    <option value="04">Jugueteria</option>
                    <option value="05">Vida Sana</option>
                </select>
            </div>
            
            <div>
                <label for="foto">Foto de Usuario</label>
                <br>
                <input type="file"  accept=".jpg" >
              
            </div>
          
            <div>
                <label for="contraseña">Contraseña</label>
                <br>
                <input type="password" name="contraseña" id="contraseña" >
            </div>
          
            <div>
                <label for="confirmarcontraseña">Confirmar Contraseña</label>
                <br>
                <input type="password" name="confirmarcontraseña" id="confirmarcontraseña" >
            </div>
         
            <div>
                <button><a class="butonReg" href="/">Enviar</a></button>
            </div>
         
            <div>
                <button>Resetear datos</button> 
            </div>
        </form>

    </section>

</main>
<br>
<footer>
    <section>
        <div>
            <i id="tarjeta" class="fa-solid fa-credit-card"></i>
            <h2>Pagá con tarjeta o en efectivo</h2>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!
            </p>
        </div>
        <br>
            <div>
            <i id="enviogratis" class="fa-solid fa-box-open"></i>
            <h2>Envío gratis desde $ 2.500</h2>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </div>
        <br>
        <div>
            <i id="seguridad" class="fa-solid fa-user-lock"></i>
            <h2>Seguridad, de principio a fin</h2>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.
            </p>

        </div>

    </section>
   
       
    
    <br>
    <ul>
        <li> Copyright © 1999-2020 MercadoLiebre S.R.L.</li>
    </ul>
</footer>
</body>
</html>